<ion-content [fullscreen]="true" class="map-content">
  <div class="floating-search-container">
    <app-location-search
      (placeSelected)="onDestinationSelected($event)"
      (searchCleared)="onSearchCleared()"
      (searchError)="onSearchError($event)"
      (useCurrentLocation)="useCurrentLocationAsDestination()"
    >
    </app-location-search>
  </div>

  @if (showLocationBanner()) {
  <div class="location-banner">
    <ion-icon name="location-outline"></ion-icon>
    <span>Abilita l'accesso alla posizione per il percorso</span>
  </div>
  }

  <div class="map-wrapper">
    <app-map-viewer
      [center]="mapCenter()"
      [zoom]="16"
      [originMarker]="originLocation()"
      [heading]="deviceHeading()"
      [destinationMarker]="destinationLocation()"
      [routes]="routePaths()"
      [activeRouteIndex]="selectedRouteIndex()"
    >
    </app-map-viewer>

    <button class="recenter-button" (click)="recenterOnCurrentLocation()">
      <ion-icon name="navigate"></ion-icon>
    </button>
  </div>

  @if (routes().length > 0 || isCalculatingRoute()) {
  <div class="route-panel-container">
    <app-route-panel
      [routes]="routes()"
      [selectedRouteIndex]="selectedRouteIndex()"
      [isLoading]="isCalculatingRoute()"
      (routeSelected)="onRouteSelected($event)"
      (panelClosed)="onPanelClosed()"
    >
    </app-route-panel>
  </div>
  }
</ion-content>
